@media screen and (max-width: 1400px) {
    .container .sidebar .playing .bottom p{
        font-size: 10px;
    }

    .container main header .search{
        width: 50%;
    }

    .container main .trending .left .info h2{
        font-size: 36px;
    }

    .container main .treading  img{
        width: 200px;
        height: 180px;
    }

    .container main .playlist .genres {
        width: 30%;
    }
    .container main .playlist .genres .items{
        grid-template-columns: 1fr;
    }
    .container main .playlist .genres .items .item {
        padding: 10px;
    }
    .container main .playlist .genres .items .item p{
        font-size: 12px;
    }

    .container main .playlist .genres .items .item:nth-child(6),
    .container main .playlist .genres .items .item .info > p{
        display: none;
    }
}

@media screen and (max-width: 1200px ) {

    .container main header .search{
        width: 40%;

    }

    .container main .treading .left .info h2 {
        font-size: 24px;
    }
    .container main .treading .left .info h5{
        display: block;
        font-size: 12px;
        margin-left: 0;
    }

    .container main .treading .left .info .buttons button {
        padding: 10px 12px;
        font-size: 12px;
    }
    .container main .treading .left .info .buttons i{
        font-size: 14px;
    }

    .container main .playlist .genres{
        display: none;
    }

    .container main .playlist .music-list{
        width: 100%;
    }

    .container .right-section .music-player{
        height: 88%;
    }
    .container .right-section .music-player .song-info img{
        width: 220px;
        height: 220px;
    }

    .container .music-player .song-info .description h3 {
        font-size: 22px;
    }

    .container .right-section  .music-player .song-info .progress{
        margin: 0;
    }
    .container .right-section .music-player .song-info .progress .active-line{
        width: 80px;
    }

    .container .right-section .music-player .song-info .progress .deactive-line{
        width: 40px;
    }
    .container .right-section .music-player .song-info .progress .active-line::before{
        left: 80px;
    }

    .container .right-section .music-player .player-actions .buttons{
        margin-top: 30px;
    }

    .container .right-section .music-player .player-actions .buttons .play-button{
        padding: 10px;
        border-radius: 16px;
    }
}



@media screen and (max-width: 992px) {

    .container{
        grid-template-columns: 3fr 2fr;
    }

    .container .sidebar{
        position: absolute;
        left: -100%;
    }

    .container .sidebar .playing{
        display: none;
    }

    .container main header .nav-links a {
        font-size: 13px;
    }

    .container main header .search{
        width: 38px;
    }

    .container main header .search input{
        display: none;
    }

    .container main .treading img{
        width: 120px;
        height: 100px;
        margin-top: 66px;
    }

    .container main .playlist{
        margin-top: 40px;
    }

    .container .right-section .music-player{
        height: 87%;
    }

    .container .right-section .music-player .song-info img{
        width: 180px;
        height: 180px;
    }

    .container .right-section .music-player .player-actions .buttons{
        margin-top: 38px;
    }

    .container .right-section .music-player .player-actions .buttons i{
        font-size: 18px;
        
    }
    .container main header .nav-links button,
    .container .sidebar .logo button{
        
    display: flex;
}

}

@media screen and (max-width: 768px) {

    .container {
        grid-template-columns: 1fr;
    }

    .container main .treading,
    .container main .playlist{
        display: none;
    }

    .container main hheader .search{
        width: 40%;
    }

    .container main header .search input {
        display: block;
    }

    .container .right-section{
        padding: 20px 36px;
    }

    .container .right-section .profile{
        justify-content: center;
        margin-bottom: 20px;
    }

    .container .right-section .music-player{
        height: 100%;
    }
    .container .right-section .music-player .song-info img{
        width: 190px;
        height: 190px;
    }

    .container .right-section .music-player .buttons i{
        font-size: 22px;
    }
}